<%= create_dialog_settings("List Portfolios", "650", "500") %>

<%#=portfolio_attr_display(nil,"true") %>
  <div align="center">
    <!-- START:flash -->
    <% if flash[:notice] -%>
      <div id="notice"><%= flash[:notice] %></div>
    <% end -%>
    <!-- END:flash -->
  </div>
<div class="cms-block">

  <div id="site-pref-list">

    <%= link_to 'New Portfolio',{ :action=>:create_empty_record,:typeofrecord=>"Portfolio"}, :class=>"button-link",:id=>"new-portfolio", :remote=>true%>
    <%= link_to 'Portfolio Prefs',{ :action=>:portfolio_preferences,:typeofrecord=>"Portfolio"}, :class=>"button-link",:id=>"portfolio-prefs", :remote=>true%>
 <p>
      </br>
      </br>
    </p>
<%=render(:partial=>"portfolio_data_table") %>

  </div>
</div>