<%=artifact_edit_div(@artifact) %>
<div class="artifact-pagination">
            <div class="previos_artifact">
                <%= link_to("< " + @artifact.previous_in_portfolio.name,{:controller=>:site, :action=>"artifact_detail", :prev=>true, :id=>@artifact} ) %>  
            </div>
            <div  class="next_artifact">
                <%= link_to(@artifact.next_in_portfolio.name + " >",{:controller=>:site, :action=>"artifact_detail", :next=>true, :id=>@artifact}) %>
            </div>
        </div>

<div class="artifact-detail">
    <div id="attr-pages" class="hidden-item">
        <div id="full-screen">true</div>
        <div id="admin-active"><%=  @admin_active=admin_active() || "" %></div>
        <div id="slider-effect">slide</div>
        <div id="play_speed">0</div>
        <div id="slider-width">885</div>
        <div id="slider-height">600</div>
        <div id="slider-nav">true</div>
        <div id="slider-width"></div>

    </div>

        
<div id="artifact-content-block">
        <div id="page-slider-gallary-page">
            <%=build_slider_gallary_v3(@artifact) %>
        </div>
        <div id="portfolio-footer">
            <%=link_to("<< return", request.env['HTTP_REFERER']) %>

        </div>
</div>
    
</div>