
<div class="imagesection">
          <!-- START:hidden_div -->
          
          <%= hidden_div_if(@artifact.pictures.count > 999, :id => "imagebutton") %>
          <%= render(:partial => "/pictures/upload_button_multi") %>
          <%#=  render(:partial => "/pictures/upload_button")%>
          <%="</div>".html_safe %>
          
          
          <%= hidden_div_if((@artifact.pictures.empty?) , :id=>"images") %>

          <%= render(:partial => "picture_list", :object => @artifact.pictures) %>
          <%="</div>".html_safe %>


        

          <%= render(:partial=>"/pictures/upload_template") %>
      </div> 



<!-- <div class="imagesection">
          <!-- START:hidden_div - ->
          <%#= hidden_div_if(@artifact.pictures.empty?, :id => "images") %>
          <%#= render(:partial => "images", :object => @artifact.pictures) %>
          <%#="</div>".html_safe %>


          <%#= hidden_div_if(@artifact.pictures.count >15, :id => "imagebutton") %>
          <%#=render(:partial => "/images/imagebutton")%>
          <%#="</div>".html_safe %>

        </div>
        --> 
